footer {padding: 50px 30px;
	margin: 20px;
	 text-align: center;
	}
	footer h3 {padding: 10px; 
	margin: 10px;
font-size: 2rem;}
.chicle:hover{
	-webkit-animation: 1s chicle 1;
}

@-webkit-keyframes chicle{
	30%{
		-webkit-transform: 
		        scaleX(1.25) scaleY(0.75);
	}
	50%{
		-webkit-transform: 
		        scaleX(0.75) scaleY(1.25);
	}
	60%{
		-webkit-transform: 
		        scaleX(1.15) scaleY(0.85);
	}
	}