$font-family: 'Roboto Mono', monospace;
$dark: rgb(10, 10, 10);
$font-size: lg;
$bordo: rgb(156, 48, 48);
$bordodark: rgb(78, 7, 7);
$background-color: blue;
$gris: rgb(255, 255, 255);
$form: rgb(235, 202, 202);
$main-font: 'Roboto', sans-serif;
$color-primero: #baddd4;
$color-segundo: #088b3f;
$color-tercero: #ED8850;